form{
	width: 185px;
	position:absolute;
	top: 50px;
	left: 250px;
	border: 2px solid #666;
	padding: 10px;
	
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top, #333333 0%, #666666 18%, #999999 19%, #d3d3d3 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(18%,#666666), color-stop(19%,#999999), color-stop(40%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333333 0%,#666666 18%,#999999 19%,#d3d3d3 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333333 0%,#666666 18%,#999999 19%,#d3d3d3 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333333 0%,#666666 18%,#999999 19%,#d3d3d3 40%); /* IE10+ */
	background: linear-gradient(to bottom, #333333 0%,#666666 18%,#999999 19%,#d3d3d3 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */	
}

table{
	float: left;
	margin-right: 10px;
	width: 70%;
	height: 180px;
}

table#btns_util{
	margin-right: 0px;
	width: 24%;
}

input[type=button]{
	width: 100%;
	height: 100%;
	text-align:center;
}

table td{
	width: 30px;
	height: 30px;
}

input#display{
	width: 95%;
	text-align: right;
	padding-right: 5px;
	margin-bottom: 15px;
	border: 1px solid #999;
	height: 23px;
	
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #999999 22%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#dbdbdb), color-stop(22%,#999999), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#dbdbdb 0%,#999999 22%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#dbdbdb 0%,#999999 22%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#dbdbdb 0%,#999999 22%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#dbdbdb 0%,#999999 22%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

span#op_display{
	width: 25px;
	height: 25px;
	background: #EEE;
	border: 1px solid #999;
	display:inline-block;
	position:absolute;
	left: 10px;
	top: 10px;
	text-align:center;
	line-height: 25px;
}

#clear{
	margin-top: 15px;
	height: 23px;
}
