body, header, footer, #main, h1, h2{
			margin: 0;
			padding: 0;
			font-family: "Trebuchet MS", "Arial", sans-serif;
			
		}
		
		body{
			overflow-x: hidden;
		}
		
		label{
			display: block;
		}
		input{
			display: inline-block;
		}
		header{
			height: 200px;
			display: block;
			border-bottom: 4px outset green;
			background: lightgreen;
			
			background: rgb(98,125,77); /* Old browsers */
background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */
			
			
			box-shadow: 0 2px 8px rgba( 0, 0, 0, .7);
			text-align:center;
		}
		footer{
			position: relative;
			bottom: 0;
			width: 100%;
			
			font-size: 10pt;
			
			min-height: 220px;
			display: block;
			border-top: 4px solid rgba(31,59,8,1);
			background: lightgreen;
			
			background: rgb(31,59,8); /* Old browsers */
background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */
			box-shadow: 0 -2px 8px rgba( 0, 0, 0, .7);
		}
		body{
			background: lightblue;
			
			
			background: rgb(254,255,232); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,232,1)), color-stop(100%,rgba(214,219,191,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */

			
		}
		div#main{
			width: 90%;
			margin: 15px auto;
			color: #002C00;
		}

input.addHandler{
	padding: 9px 19px;
}
		
.toolTip{
	display: inline-block;
	margin-top: 0;
	margin-left: 35px;
	border: 1px solid green;
	background-color: lightgreen;
	padding: 9px 19px;
	position:relative;
	vertical-align: top;
	border-radius: 2px;
	text-transform: capitalize;
}

header hgroup{
	font-family: "trebuchet ms", "arial", sans-serif;
	padding-top: 45px;
	
	color: #CCC;
	text-shadow: -1px -1px #002C00;
	
	font-size: 130%;
}

.toolTip:after{

	content: "";
	display: block;
	position:absolute;
	bottom: 0px;
	left: -35px;
	width: 0;
	border-width: 10px 35px 25px 0  ;
	border-style: solid;
	border-color: transparent green;

}

span{
	display: block;
	margin: 15px 0;
}

fieldset{
	margin-top: 20px;
}

#elKeyEvt{
	width: 400px;
	height: 130px;
	border: 1px solid #999;
}
pre{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	
	padding-top: 15px;
}

fieldset input[type=text],
fieldset input[type=email]{
	
	outline: 0;
	border: 1px solid #999;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6) inset;
	padding: 5px 10px;
	
}

.third{
	width: 32%;
	margin-right: 1%;
	float:left;
}
.third span{
	text-align: center;
	font-size: 22pt;
	border-bottom: 1px solid #333;
	
	text-shadow: -1px -1px #002C00;
	color: #CCC;
}

.third > *{
	margin-left: 15px;
}

.third a{
	text-decoration:none;
	color: black;
	
	-moz-transition: color .4s, text-shadow .4s;
	-webkit-transition: color .4s, text-shadow .4s;
	-o-transition: color .4s, text-shadow .4s;
	transition: color .4s, text-shadow .4s;
	
}

.third a:hover{
	color: #002C00;
	
	text-shadow: 0 0 5px rgba(255, 255, 80, 0.6);
}

.third ul{
	list-style: none;
}
